@model w1Consultorio.Models.Departamento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Departamento</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        @Html.HiddenFor(model => model.CodDepartamento)
        @Html.HiddenFor(model => model.CodEmpresa)
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Descricao)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                </div>


                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Responsavel)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Responsavel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Responsavel)
                    </div>
                </div>
             </div>
         </div>

        <p>
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "Departamento", new { codEmp = Model.CodEmpresa })'" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
