@model IEnumerable<w1Consultorio.Models.Sistema>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
Sistemas</h3>
@if (TempData["mensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
    </div>
}
<br />
<p>
    <input type="button" class="btn btn-primary" value="Novo Sistema" 
        onclick="location.href='@Url.Action("Create", "Sistema")'"/>
</p>
<table class="table table stripped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodRefSistema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodRefSistema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            <div class="btn-group">
                <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Sistema", new { id = item.CodSistema })'" />
                <input type="button" class="btn btn-default" value="Detalhe" onclick="location.href='@Url.Action("Details", "Sistema", new { id = item.CodSistema })'" />
                <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Sistema", new { id = item.CodSistema })'" />
                <input type="button" class="btn btn-default" value="Módulos" onclick="location.href='@Url.Action("Index", "Modulo", new { sistemaid = item.CodSistema })'" />
            </div>
        </td>
    </tr>
}

</table>
