@model w1Consultorio.Models.Atendimento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <h4>
        Confirma a exclusão do atendimento do funcionário: @Html.DisplayFor(model => model.Funcionario.Nome) ?
    </h4>

</fieldset>

<fieldset>
    <div class="display-field">
        Nome do funcionário: @Html.DisplayFor(model => model.Funcionario.Nome)
    </div>
    <div class="display-field">
        Empresa: @Html.DisplayFor(model => model.Empresa.Nome)
    </div>
    <div class="display-label">
        Data: @Html.DisplayFor(model => model.dataAtendimento)
    </div>
    <p></p>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Excluir" class="btn btn-primary" />
        <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "Atendimento")'" />
    </p>
}
