@model w1Consultorio.Models.Atendimento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Atendimento</h3>

<fieldset>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">@Html.DisplayNameFor(model => model.codAtendimento)</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.codAtendimento)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">@Html.DisplayNameFor(model => model.Empresa.Nome)</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.Empresa.Nome)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">@Html.DisplayNameFor(model => model.Funcionario.Nome)</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.Funcionario.Nome)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">@Html.DisplayNameFor(model => model.TipoExame.Descricao)</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.TipoExame.Descricao)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="display-label">
                        <label class="col-sm-2 text-info">@Html.DisplayNameFor(model => model.dataAtendimento)</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label">@Html.DisplayFor(model => model.dataAtendimento)</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>
<p>
    <input type="button" class="btn btn-primary" value="Editar" onclick="location.href='@Url.Action("Edit", "Atendimento", new { id = Model.codAtendimento })'" />
    <input type="button" class="btn btn-primary" value="Voltar" onclick="location.href='@Url.Action("Index", "Atendimento")'" />
</p>
