@model w1Consultorio.Models.PerguntaGrupo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<h3>
Grupo de perguntas</h3>
@using (Html.BeginForm()) 
{
    if (!Html.ViewData.ModelState.IsValid)
    {
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
    }

    if (TempData["mensagemErro"] != null)
    {
    <div class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
    </div>
    }
        
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Descricao)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Sequencia)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Sequencia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sequencia)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Ativo)</label>
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="Ativo" id="Ativo">
                            <option value="S" selected="selected">Sim</option>
                            <option value="N">Não</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Ativo)
                    </div>
                </div>
                </form>
            </div>
        </div>
                <p>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "PerguntaGrupo")'" />
                </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
