@model w1Consultorio.Models.Pergunta
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
Pergunta</h3>
@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.CodPergunta)
        @Html.HiddenFor(model => model.CodPerguntaGrupo)
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Descricao)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Sequencia)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Sequencia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sequencia)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.Ativo)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("Ativo", (SelectList)ViewBag.AtivoLista, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Ativo)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.CodTipoResposta)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("CodTipoResposta", (SelectList)ViewBag.TipoResposta, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CodTipoResposta)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.RespostaItem)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.RespostaItem, 5, 55, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RespostaItem)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="display-label">
                        <label class="col-sm-2 control-label">@Html.LabelFor(model => model.RespostaObrigatoria)</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("RespostaObrigatoria", (SelectList)ViewBag.RespostaObrigatoriaLista, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RespostaObrigatoria)
                    </div>
                </div>
                </form>
            </div>
        </div>
        <p>
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "Pergunta", new { id = Url.RequestContext.RouteData.Values["grupoid"] })'" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
