@model IEnumerable<w1Consultorio.Models.Modulo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
Módulos</h3>
<p>
@using (Html.BeginForm("SetSistema", "Modulo", FormMethod.Get))
{
<div class="panel panel-default">
  <div class="panel-heading">Filtro</div>
  <div class="panel-body">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label>Sistema: </label>@Html.DropDownList("sistemaid", (SelectList)ViewBag.Sistemas, new { @class = "form-control"})
            <br />
            <input type="submit" value="Procurar    " class="btn btn-primary" />
        </div>
    </form>
  </div>
</div>
}

@if (TempData["mensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["mensagemErro"]
    </div>
}
<br />
<p>
    <input type="button" class="btn btn-primary" value="Novo Módulo" 
        onclick="location.href='@Url.Action("Create", "Modulo", new { sistemaid = Url.RequestContext.RouteData.Values["sistemaid"] })'"/>
</p>
<table class="table table stripped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sistema.CodRefSistema)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sistema.CodRefSistema)
        </td>
        <td>
            <div class="btn-group">
                <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Modulo", new { sistemaid = item.CodSistema, id = item.CodModulo })'" />
                <input type="button" class="btn btn-default" value="Detalhe" onclick="location.href='@Url.Action("Details", "Modulo", new { sistemaid = item.CodSistema, id = item.CodModulo })'" />
                <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Modulo", new { sistemaid = item.CodSistema, id = item.CodModulo })'" />
            </div>
        </td>
    </tr>
}

</table>
